{% extends 'layout.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}
    <h2>My Profile</h2>
    {{user_profile.slug}}
    <hr>
    <img src="{{ user_profile.profile_picture.url }}" alt="profile_pic">
    {{user_profile.first_name}}<br>
    {{user_profile.last_name}}<br>
    {{user_profile.bio}}<br>
    <ul>
        {% for connection in user_profile.get_connections %}
        <li>{{connection}}</li>
    {% endfor %}
    </ul>
   <br>
    {{user_profile.get_connections_no}}<br>
{% endblock content %}