{% extends 'layout.html' %}
{% load static %}


{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock styles%}
  
{% block title %} Home {% endblock title %}
{% block content %}
<div class="sidebar">
  <ul>
   <li>Home</li>
    <li>Messages</li>
    <li>Communities</li>
    <li>Groups</li>
    <li>Following</li>
    <li>Events</li>
    <li>News</li>
    <li>Articles</li>
    <li>Collaborations</li>
  </ul>
</div>
    <div class="container text-dark mt-5">
        <div class="row justify-content-md-center">
          <div class="col-md-5 p-3">
                <h1>My Google Login Project</h1>
                {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }} !</p>
                {% else %}
                <h1>Welcome Friend, please log in</h1>
                {% endif %}

                
                {% for user in users %}
                {{ user }}
                {% endfor%}
                
          </div>
        </div>
      </div>
  {% endblock content %}